@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 1rem;
    --background: 0 0% 95%; /* White Smoke */
    --foreground: 222 22% 21%; /* Gunmetal */
    --card: 0 0% 95% / 0.8; /* White Smoke with transparency */
    --card-foreground: 222 22% 21%; /* Gunmetal */
    --popover: 0 0% 95%; /* White Smoke */
    --popover-foreground: 222 22% 21%; /* Gunmetal */
    --primary: 23 89% 54%; /* Pumpkin */
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 58%; /* Glaucous */
    --secondary-foreground: 0 0% 100%;
    --muted: 217 33% 78%; /* Lighter Glaucous for muted */
    --muted-foreground: 222 22% 41%; /* Darker Gunmetal for muted foreground */
    --accent: 217 33% 58%; /* Glaucous */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 33% 88%; /* Lighter Glaucous for border */
    --input: 217 33% 88%;
    --ring: 23 89% 54%; /* Pumpkin */
    --chart-1: 23 89% 54%;
    --chart-2: 217 33% 58%;
    --chart-3: 23 89% 64%;
    --chart-4: 217 33% 68%;
    --chart-5: 23 89% 74%;
    --sidebar-background: 222 22% 21% / 0.8;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 23 89% 54%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 222 22% 26%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 222 22% 26%;
    --sidebar-ring: 23 89% 54%;
  }

  .dark {
    --background: 222 22% 21%; /* Gunmetal */
    --foreground: 0 0% 98%;
    --card: 222 22% 24% / 0.7; /* Slightly lighter Gunmetal with transparency */
    --card-foreground: 0 0% 98%;
    --popover: 222 22% 21%;
    --popover-foreground: 0 0% 98%;
    --primary: 23 89% 54%; /* Pumpkin */
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 58%; /* Glaucous */
    --secondary-foreground: 0 0% 100%;
    --muted: 222 22% 28% / 0.7;
    --muted-foreground: 0 0% 60%;
    --accent: 217 33% 58%; /* Glaucous */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 22% 31%;
    --input: 222 22% 31%;
    --ring: 23 89% 54%; /* Pumpkin */
    --sidebar-background: 222 22% 18% / 0.7;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 23 89% 54%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 222 22% 23%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 222 22% 23%;
    --sidebar-ring: 23 89% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}
